<div class="related">
  <div class="left-pane">
  </div>
  <div class="right-pane">
    <div class="right-container">
      <div class="search-query">
        <input [(ngModel)]="searchQuery" (ngModelChange)='queryChanged($event)' type="text" placeholder="enter the word...">
      </div>
      <div class="results">
        <div class="filter-nav">
          <ul>
            <li *ngFor="let tab of selectedFilterTab" (click)="selectTab(tab)" [class.selected]="tab.selected">{{tab.type}}</li>
          </ul>
        </div>
        <div class="words">
          <div *ngIf="showSpinner" class="loading-spinner">
            <mat-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value">
            </mat-progress-spinner>
          </div>
          <ul *ngIf="!showSpinner">
            <li *ngFor="let w of searchResults">{{w.word}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
