<div class="related">
  <!-- <div class="left-pane">
  </div> -->
  <div class="right-pane">
    <div class="right-container">
      <!-- <div class="search-query">
        <input [(ngModel)]="searchQuery" (ngModelChange)='queryChanged($event)' type="text" placeholder="enter the word...">
      </div> -->
      <div class="results">
        <div class="filter-nav">
          <ul class="breadcrumb">
            <li *ngFor="let tab of selectedFilterTab" (click)="selectTab(tab)" [class.selected]="tab.selected">
              <a>{{tab.type}}</a></li>
          </ul>
        </div>
        <div class="words">
          <div *ngIf="showSpinner" class="loading-spinner">
            <mat-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value">
            </mat-progress-spinner>
          </div>
          <ul *ngIf="!showSpinner && searchResults?.length">
            <li *ngFor="let w of searchResults">{{w.word}}</li>
          </ul>
          <ul *ngIf="!showSpinner && searchResults?.length === 0">
            <p style="text-align:center">No words Found</p>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
