@import './../../variables';

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 768px to 1200px
*/
@media screen and (min-width:map-get($grid-breakpoints, md)) {
  .related {
    height: 100%;

    .left-pane {
      width: 30%;
    }

    .right-pane {
      // width: 70%;
      width: 100%;

      .right-container {
        height: 100%;
      }

      .search-query {
        height: 10%;

        input {
          width: 60%
        }
      }

      .results {
        height: 85%;

        .words {
          // width: 80%;
          // border: 1px solid;
        }
      }
    }
  }
}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 480px
*/

@media screen and (orientation:portrait) and (min-width:map-get($grid-breakpoints, xxs))and (max-width:map-get($grid-breakpoints, xs)) {
  .related {
    height: 100%;

    .left-pane {
      width: 0;
    }

    .right-pane {
      width: 100%;

      .right-container {
        height: 100%;
      }

      .search-query {
        height: 10%;

        input {
          width: 100%
        }
      }

      .results {
        height: 85%;

        .filter-nav {
          ul {
            justify-content: center;

            li {
              font-size: 0.8em;
            }
          }
        }
      }
    }
  }
}





.related {
  // height: 100%;

  .left-pane {
    display: inline-block;
    // width: 30%;
  }

  .right-pane {
    display: inline-block;
    // width: 70%;
    height: 80vh;

    .right-container {
      // height: 100%;
    }

    .search-query {
      margin: 1em 0;
      // height: 10%;

      input {
        // width: 60%;
        height: 3em;
        // outline: ;
        border-radius: 10px;
      }
    }

    .results {
      height: 85%;

      .filter-nav {
        // ul {
        //   list-style-type: none;
        //   display: flex;
        //   flex-wrap: wrap;
        //   padding: 0;

        //   li {
        //     border-top: 1px solid black;
        //     border-left: 1px solid black;
        //     border-bottom: 1px solid black;
        //     // margin: 0.5em;
        //     padding: 0.5em;
        //     display: inline-block;
        //   }

        //   li:last-child {
        //     border-right: 1px solid black;
        //   }
        // }

        // .selected {
        //   background: #0299C6;
        // }
        ul.breadcrumb {
          display: flex;
          flex-wrap: wrap;
          list-style: none;
          padding: 8px 14px;
          margin: 0;
        }

        ul.breadcrumb li {
          display: inline;
          font-size: 18px;
        }

        /* Add a slash symbol (/) before/behind each list item */
        ul.breadcrumb li+li:before {
          padding: 8px;
          color: black;
          content: "\00bb";
        }

        /* Add a color to all links inside the list */
        ul.breadcrumb li a {
          color: #0275d8;
          text-decoration: none;
        }

        /* Add a color on mouse-over */
        ul.breadcrumb li a:hover {
          color: #01447e;
          // text-decoration: underline;
        }
      }

      .words {
        height: inherit;
        overflow-y: auto;

        &::-webkit-scrollbar {
          width: 0.25em;
        }

        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }

        &::-webkit-scrollbar-thumb {
          background-color: rgb(238, 169, 79);
        }

        .loading-spinner {
          display: flex;
          justify-content: center;
        }

        ul {
          list-style-type: none;
          display: flex;
          flex-wrap: wrap;
          padding: 0;
          margin: 0;

          li {
            border: 1px solid black;
            border-radius: 10px;
            margin: 0.25em;
            padding: 0.5em;
            display: inline-block;
          }
        }
      }
    }
  }
}
