<div class="practice">
  <div class="practice-head-container">
    <mat-progress-bar class="progress-color" mode="determinate" [value]="(totalWordRead/wordlist.length)*100"></mat-progress-bar>
    <div class="title">
      <h1 class="wordlist">{{selectedWordlist?.name.replace('.json','')}}</h1>
      <h4 class="wordlist-count">Words read {{totalWordRead}} / {{wordlist.length}}</h4>
    </div>
  </div>
  <div class="practice-content">
    <div class="right-pane">
      <div class="word-container">
        <div class="word-name-info">
          <h1>{{wordlist[currIndex].name}}</h1>
          <div class="word-meta">
            <div class="word-meta-type">
              <p>{{wordlist[currIndex].type}}</p>
            </div>
            <div class="word-meta-pron">
              <p>{{wordlist[currIndex].pronunciation}}</p>
            </div>
          </div>
        </div>
        <div class="word-info-show">
          <div class="info-actions">
            <i class="material-icons show-info-icon" (click)="showWordInfo()">info</i>
          </div>
        </div>
      </div>

      <div class="word-info-container">
        <div *ngIf="WordInfoState" class="word-desc-info">
          <div *ngIf="sentenceSplitter()[0]?.split(':')[1]">
            <p><strong>Definition</strong></p>
            <p class="word-des">{{sentenceSplitter()[0].split(':')[1] }}</p>
          </div>
          <div *ngIf="sentenceSplitter()[2]?.split(':')[1]">
            <p><strong>Usage</strong></p>
            <p class="word-des">{{sentenceSplitter()[1].split(':')[1] }}</p>
          </div>
          <div *ngIf="sentenceSplitter()[2]?.split(':')[1]">
            <p><strong>Related Words</strong></p>
            <p class="word-des">{{sentenceSplitter()[2].split(':')[1] }}</p>
          </div>

          <div *ngIf="sentenceSplitter()[3]?.split(':')[1]">
            <p><strong>More Info</strong></p>
            <p class="word-des">{{sentenceSplitter()[3].split(':')[1] }}</p>
          </div>

          <div *ngIf="mnemonicSplitter().length">
            <p><strong>Mnemonics</strong></p>
            <p class="mnemonics" *ngFor="let mnem of mnemonicSplitter();let i = index">
              {{i+1 + '.' + mnem}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="navigators">
    <div class="arrows-container right">
      <div (click)="randomWord()">
        <i class="material-icons lft" (click)="prevWord()">arrow_back</i>
        <i class="material-icons rght" (click)="randomWord()">arrow_forward</i>
      </div>
    </div>
  </div>
</div>
