<div *ngIf="selectedModeIndex <= 0 " class="wordlist-actions">
  <div class="wordlist-actions-description" [ngClass]="{'skeleton':loading}">
    <p class="selected-wordlist-name">Selected wordlist is {{wordlistname.replace('.json','')}}</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, voluptatum quod, tempora asperiores, recusandae
      libero
      dicta iure in labore quam facere laborum tempore reprehenderit distinctio vero rerum! Praesentium, officia
      nesciunt!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam harum, numquam explicabo eligendi consectetur
      recusandae dolor quo nulla excepturi. Corrupti odio hic consequuntur esse perferendis inventore laudantium
      necessitatibus temporibus nostrum.</p>
  </div>

  <div class="wordlist-actions-container-btn " [ngClass]="{'skeleton':loading}">
    <div class="wordlist-practice-blk">
      <button (click)="enterPracticeMode()">Practice</button>
    </div>
    <div class="wordlist-learn-blk">
      <button (click)="enterLearnMode(1)">Learn</button>
    </div>
  </div>
</div>
