@import './../../variables';

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 768px to 1200px
*/
@media screen and (min-width:map-get($grid-breakpoints, md)) {
  .wordlist {
    .left-pane {
      width: 30%;
      float: left;
    }

    .right-pane {
      width: 70%;
      float: right;
    }
  }
}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 480px
*/

@media screen and (orientation:portrait) and (min-width:map-get($grid-breakpoints, xxs))and (max-width:map-get($grid-breakpoints, xs)) {
  .wordlist {
    .left-pane {
      display: none;
      width: 0;
    }

    .right-pane {
      width: 100%;
    }
  }
}
