@import './../variables.scss';

header {
  height: 60px;
  background: #2E3141;
  position: fixed;
  width: 100%;

  nav {
    display: flex;
    align-items: center;
    height: inherit;

    a {
      margin: 0 1em;
      text-decoration: none;
      color: $white-color;
      cursor: pointer;
    }
  }
}

.rout-comp {
  position: relative;
  top: 60px;
  height: 86vh;
  overflow-y: auto;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
}
