<main role="main" class="app-main">
  <div class="app-main-front">
    <app-wordnav></app-wordnav>
    <div class="left-pane"></div>
    <div class="right-pane">
      <div class="wordlist-actions">
        <div class="wordlist-create">
          <button>Create Word List</button>
        </div>
      </div>
      <div class="word-list-container">
        <div>
          <h4>My Word List 1</h4>
        </div>
        <div>
          <h4>My Word List 1</h4>
        </div>
        <div>
          <h4>My Word List 2</h4>
        </div>
        <div>
          <h4>My Word List 3</h4>
        </div>
        <div>
          <h4>My Word List 4</h4>
        </div>
        <div>
          <h4>My Word List 4</h4>
        </div>
      </div>
    </div>
  </div>
</main>
